<div class="container mx-auto" style="horiz-align: center; width: 100rem; height: 100rem;">
      <div class="card" style="width: 50rem; margin-left: 250px; border-radius: 25px;">
        <div class="card-body" style="width: 50rem; background-color: #D7C0C9; backdrop-filter: blur(30px); border-radius: 25px; horiz-align: center">

          <div style="display: flex; align-items: center;">
            <img src="assets/images/file.png" alt="Logo" height="40px" width="40px">
            <h5 class="card-title" style="margin-right: 25px; font-weight: bold;">Files</h5>
          </div>

          <table class="table" style="horiz-align: center; ">
            <tbody>
            <ng-container *ngFor="let item of data; let i = index">
              <td>
                <div style="width: 140px; text-align: center; height: 140px; background: lightblue; border-radius: 24px">
                <ng-container *ngIf="item.fileName.endsWith('.jpg') || item.fileName.endsWith('.png') || item.fileName.endsWith('.jpeg')">
                  <img src="assets/images/goida.png" alt="Image Icon" height="40px" width="40px">
                </ng-container>
                <ng-container *ngIf="item.fileName.endsWith('.mp3')">
                  <img src="assets/images/Voice.svg" alt="Music Icon" height="40px" width="40px">
                </ng-container>
                <ng-container *ngIf="!item.fileName.endsWith('.jpg') && !item.fileName.endsWith('.mp3') && !item.fileName.endsWith('.jpeg') && !item.fileName.endsWith('.png')">
                  <img src="assets/images/Paper.svg" alt="File Icon" height="40px" width="40px">
                </ng-container>
                  <div style="width: 130px; height: 40px;">
                    <span style="max-width: 140px; max-height: 50px; overflow: hidden; text-overflow: ellipsis; white-space: normal; display: block;">{{ item.fileName }}</span>
                  </div>

                  <div style="width: 126px; height: 35px; background: white; border-radius: 24px; margin-top: 12px;">
                    <img [src]="'assets/images/delete.png'" alt="Delete" (click)="deleteFile(item)" class="icon" height="30" width="30" style="cursor: pointer; float: left; margin-left: 10px; margin-top: 3px">
                    <img [src]="'assets/images/download.png'" alt="Download" (click)="downloadFile(item)" class="icon" height="31" width="31" style="cursor: pointer; float: right; margin-right: 3px; margin-top: 2px">
                    <img [src]="'assets/images/edit.png'" alt="Download" (click)="downloadFile(item)" class="icon" height="26" width="26" style="cursor: pointer; float: right; margin-top: 4px">
                  </div>
                </div>
              </td>
              <ng-container *ngIf="(i + 1) % 5 === 0">
                <tr><br></tr>
              </ng-container>
            </ng-container>
            <td>

              <label for="fileInput" style="cursor: pointer;">
                <img src="assets/images/add.png" alt="Изображение" width="100" height="100">
              </label>
              <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
                <button (click)="uploadFile()" [disabled]="!selectedFile">Load file</button>


            </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>






