<header class="app-header" style="background-image: url('assets/images/header.png')">
  <div class="user-info">
    <span style="color: black;">{{user.userName}} {{user.roles}}</span>
    <span style="color: black"></span>
    <span (click)="goida()" style="color: black; cursor: pointer">Logout</span>
  </div>
  <div class="logo-container" style="padding-right: 46%">
    <img ngSrc="assets/images/logo.png" class="app-logo" width="64" height="64"/>
    <h1 class="app-title">{{pageTitle}}</h1>
  </div>
</header>
