<div class="row justify-content-center" style="background-color: white">

  <div style=" margin-bottom: 30px; border-radius: 48px; width: 70%">
    <img ngSrc="assets/images/logo.png" class="app-logo" width="64" height="64" style="margin-left: 48%"/>
    <h5 class="card-title" style="font-size: 35px;  font-weight: bold; margin-left: 41%; color: black">Cloud-Storage</h5>
  </div>

	<div class="col-4">
	<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
	  <li class="nav-item" role="presentation">
	    <button [ngClass]="active == 'login' ? 'nav-link active' : 'nav-link'" id="tab-login" (click)="onLoginTab()">Login</button>
	  </li>
	  <li class="nav-item" role="presentation">
	    <button [ngClass]="active == 'register' ? 'nav-link active' : 'nav-link'" id="tab-register" (click)="onRegisterTab()">Register</button>
	  </li>
	</ul>

	<div class="tab-content">
	  <div [ngClass]="active == 'login' ? 'tab-pane fade show active' : 'tab-pane fade'">
	    <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">

	      <div class="form-outline mb-4">
	        <input type="text" id="username" name= "login" class="form-control" [(ngModel)]="username" />
	        <label class="form-label" for="username">Username</label>
	      </div>

	      <div class="form-outline mb-4">
	        <input type="password" id="loginPassword" name="password" class="form-control" [(ngModel)]="password" />
	        <label class="form-label" for="loginPassword">Password</label>
	      </div>
        <div class="form-outline mb-4">
          <label id="label1" class="form-label" for="username" style="color: red"></label>
        </div>


	      <button style="width: 20%; margin-left: 40%" type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

	    </form>
	  </div>

	  <div [ngClass]="active == 'register' ? 'tab-pane fade show active' : 'tab-pane fade'">
	    <form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">

	      <div class="form-outline mb-4">
	        <input type="text" id="goida" name="username" class="form-control" [(ngModel)]="username" />
	        <label class="form-label" for="username">Username</label>
	      </div>

	      <div class="form-outline mb-4">
	        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" />
	        <label class="form-label" for="password">Password</label>
	      </div>

	      <div class="form-outline mb-4">
	        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" />
	        <label class="form-label" for="confirmPassword">Confirm Password</label>
	      </div>

	      <div class="form-outline mb-4">
	        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" />
	        <label class="form-label" for="email">Email.</label>
	      </div>
        <button style="width: 20%; margin-left: 40%" type="submit" class="btn btn-primary btn-block mb-3">Register</button>
        <div class="form-outline mb-4">
          <a style="margin-left: 50px">After registration, you will receive a link to confirm your account by email.</a>
        </div>


	    </form>
	  </div>
	</div>
	</div>
</div>
